
:root {
  --dark-color: #171717;
  --light-color: #fafafa;
}

@media (max-width: 767px) {
.navbarBottom {
  background-color: var(--light-color);
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  color: var(--dark-color);
  height: 72px;
  position: fixed;
  bottom: 0;
  width: 100%;
  right: 0;
  transition: bottom 0.3s;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.radio-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 350px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.radio-inputs > * {
  margin: 6px;
}
.radio-input:checked + .radio-tile .radio-label {
  color: #00a669;
}

.radio-tile:hover{ 
  border-color: #00a669;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #89d7b3;
}
.radio-input:focus + .radio-tile {
  border-color: #00a669;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #89d7b3;
}

.radio-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 48px;
  min-height: 48px;
  border-radius: 0.5rem;
  transition: 0.15s ease;
  cursor: pointer;
  position: relative;
}
.radio-tile a{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.radio-tile:before {
  content: "";
  position: absolute;
  display: block;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  top: 0.25rem;
  left: 0.25rem;
  opacity: 0;
  transform: scale(0);
  transition: 0.25s ease;
}



.radio-label {
  color: #181818;
  transition: 0.375s ease;
  text-align: center;
  font-size: 11px;
  font-family: helvetica;
}

.radio-input {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

  }
  
  /* Desktop Layout */
  @media (min-width: 768px) {
    .navbarBottom {
      background-color:var(--light-color);
      box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
      color: var(--dark-color);
      height: 72px;
      position: fixed;
      bottom: 0;
      width: 100%;
      right: 0;
      transition: bottom .3s;
      overflow: hidden;
      display: flex;
      flex-direction: row-reverse;
      opacity: 0;
  }
  }
  .radio-tile a{
    margin: none;
    padding: none;
    text-decoration: none;
  }
  a img{
    height: 30px;
    width: 30px;
  }

    
  