
body {
  background-color:#181818;
  margin: 0;
  padding: 0;
  }

   /* background-image: url('../../images/cc.svg'); */
  
  @media (max-width: 767px) {
    /* Add your mobile layout styles here */
    .top-view{
      display: flex;
      justify-content: center;
      overflow-y: hidden;
      overflow-x: scroll;
      width: 250%;
  
    }
    .layout-container{
      background-size: cover; 
      background-repeat: no-repeat; 
      height: 440px;
      width: 1000px;
      background-position: center center;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top:80px;
      }
      .layout{
        height: 96%;
        width: 980px;
        display: flex;
        flex-direction: column;
      }
      .col1{
        height: 178px;
        box-sizing: border-box;
        overflow: hidden;
      }
      .col2{
      height: 245px;
      
      }
      .col1{
        display: flex;
        flex-direction: row;
      }
      .row1{
      width: 110px;
      margin-left: 27px;
      border: 1px solid #fbfbfb;
      }
      .row2{
      width: 730px;
      height: 100px;
      margin-top: 50px;
      border-top: 1px solid #fbfbfb;
      }
      .row3{
        width: 110px;
        border: 1px solid #fbfbfb;
      }
      .col2{
        display: flex;
        flex-direction: row;
        border:none;
      }
      .rowb1{
        width: 137px;
        display: flex;
        flex-direction: row;
      }
      .side-classrooms{
        width: 107px;
        display: flex;
        flex-direction: column;
        margin-top: 9px;
        height: 230px;
      }
      .side-alley{
        width: 25px;
        border: 1px solid #fbfbfb;
        height:237.5px;
      }
      /*this is the classroom layout */
      .side-classroom{
        height: 75px;
        width: 105px;
        border:1px solid #fbfbfb;
      }
      .stairs-classroom{
        height: 108px;
        width: 79px;
        border:1px solid #fbfbfb;
      }
      .stairs-side{
        margin-top: 17px;
        height: 50px;
        width: 50px;
        border:1px solid #fbfbfb;
        display: flex;
        flex-direction: row;
        border:1px  solid #fbfbfb;
        margin-bottom: 1px;
      }
      .stairs-step1{
          width: 20px;
          border-right:1px  solid #fbfbfb;
      
      }
      .stairs-step2{
        border-top:2px  solid #fbfbfb;
        height: 50%;
        margin-top: 47%;
        width: 30px;
      }
      .row2{
        display: flex;
        flex-direction: column;
      }
      .main-col1{
        width: 100%;
        height: 75px;
        display: flex;
        flex-direction: row;
      }
      .main-col2{
        height: 20px;
        width: 100%;
        border-bottom: 1px rgb(255, 255, 255) solid;
      }
      .main-classrooms1{
        width: 100%;
        border: 1px rgb(255, 255, 255) solid;
        height: 100%;
        margin-right: 48px;
        display: flex;
      
      }
      .main-classrooms2{
        width: 100%;
        border: 1px rgb(255, 255, 255) solid;
        height: 100%;
        margin-left: 48px;
        display: flex;
      }
      .main-classroom{
        width:100%;
        height:100%;
       
        border:1px solid #fbfbfb;
      }
      
      .stairs-classroom2{
        height: 108px;
        width: 79px;
        border:1px solid #fbfbfb;
        margin-left: 30px;
      }
      
      .stairs-side2{
        margin-top: 17px;
        height: 50px;
        width: 50px;
        border:1px solid #fbfbfb;
        display: flex;
        flex-direction: row;
        border:1px  solid #fbfbfb;
        margin-bottom: 1px;
        margin-left: 60px;
      }
      .stairs-step1a{
        border-top:2px  solid #fbfbfb;
        height: 50%;
        margin-top: 47%;
        width: 30px;
      }
      .stairs-step2b{
        width: 20px;
        border-left:1px  solid #fbfbfb;
      }
      button{
        width: 100%;
        height: 100%;
        background-color: rgb(153, 204, 153);
      }
    
    
  }
  
  /* Desktop Layout */
  @media (min-width: 768px) {
    /* Add your desktop layout styles here */
    .top-view{
      display: flex;
      justify-content: center;
  
    }
    .layout-container{
      background-size: cover; 
      background-repeat: no-repeat; 
      height: 440px;
      width: 1000px;
      background-position: center center;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top:80px;
      }
      .layout{
        height: 96%;
        width: 980px;
        display: flex;
        flex-direction: column;
      }
      .col1{
        height: 178px;
        box-sizing: border-box;
        overflow: hidden;
      }
      .col2{
      height: 245px;
      
      }
      .col1{
        display: flex;
        flex-direction: row;
      }
      .row1{
      width: 110px;
      margin-left: 27px;
      border: 1px solid #fbfbfb;
      }
      .row2{
      width: 730px;
      height: 100px;
      margin-top: 50px;
      border-top: 1px solid #fbfbfb;
      }
      .row3{
        width: 110px;
        border: 1px solid #fbfbfb;
      }
      .col2{
        display: flex;
        flex-direction: row;
        border:none;
      }
      .rowb1{
        width: 137px;
        display: flex;
        flex-direction: row;
      }
      .side-classrooms{
        width: 107px;
        display: flex;
        flex-direction: column;
        margin-top: 9px;
        height: 230px;
      }
      .side-alley{
        width: 25px;
        border: 1px solid #fbfbfb;
        height:237.5px;
      }
      /*this is the classroom layout */
      .side-classroom{
        height: 75px;
        width: 105px;
        border:1px solid #fbfbfb;
      }
      .stairs-classroom{
        height: 108px;
        width: 79px;
        border:1px solid #fbfbfb;
      }
      .stairs-side{
        margin-top: 17px;
        height: 50px;
        width: 50px;
        border:1px solid #fbfbfb;
        display: flex;
        flex-direction: row;
        border:1px  solid #fbfbfb;
        margin-bottom: 1px;
      }
      .stairs-step1{
          width: 20px;
          border-right:1px  solid #fbfbfb;
      
      }
      .stairs-step2{
        border-top:2px  solid #fbfbfb;
        height: 50%;
        margin-top: 47%;
        width: 30px;
      }
      .row2{
        display: flex;
        flex-direction: column;
      }
      .main-col1{
        width: 100%;
        height: 75px;
        display: flex;
        flex-direction: row;
      }
      .main-col2{
        height: 20px;
        width: 100%;
        border-bottom: 1px rgb(255, 255, 255) solid;
      }
      .main-classrooms1{
        width: 100%;
        border: 1px rgb(255, 255, 255) solid;
        height: 100%;
        margin-right: 48px;
        display: flex;
      
      }
      .main-classrooms2{
        width: 100%;
        border: 1px rgb(255, 255, 255) solid;
        height: 100%;
        margin-left: 48px;
        display: flex;
      }
      .main-classroom{
        width:100%;
        height:100%;
       
        border:1px solid #fbfbfb;
      }
      
      .stairs-classroom2{
        height: 108px;
        width: 79px;
        border:1px solid #fbfbfb;
        margin-left: 30px;
      }
      
      .stairs-side2{
        margin-top: 17px;
        height: 50px;
        width: 50px;
        border:1px solid #fbfbfb;
        display: flex;
        flex-direction: row;
        border:1px  solid #fbfbfb;
        margin-bottom: 1px;
        margin-left: 60px;
      }
      .stairs-step1a{
        border-top:2px  solid #fbfbfb;
        height: 50%;
        margin-top: 47%;
        width: 30px;
      }
      .stairs-step2b{
        width: 20px;
        border-left:1px  solid #fbfbfb;
      }
      button{
        width: 100%;
        height: 100%;
        background-color: rgb(153, 204, 153);
      }
    
  }